[user]
	email = christophpohl@gmx.com
	name = Christoph Pohl
[push]
	default = simple
[color]
	ui = auto
[core]
	editor = nvim
    whitespace = tab-in-indent
[diff]
	algorithm = patience
[pull]
	rebase = true
