[user]
	email = christophpohl@gmx.com
	name = Christoph Pohl
[push]
	default = current
[color]
	ui = auto
[core]
	editor = nvim
    whitespace = tab-in-indent
[diff]
	algorithm = patience
[pull]
	rebase = true
[credential]
	helper = cache
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
