! Black
*color0:     #1c1709
*color8:     #4f4939
! Red
*color1:     #8e4317
*color9:     #f07935
! Green
*color2:     #787200
*color10:    #d9d138
! Yellow
*color3:     #945c00
*color11:    #ffab26
! Blue
*color4:     #315094
*color12:    #8aa9ed
! Magenta
*color5:     #5c2e40
*color13:    #ff8cb8
! Cyan
*color6:     #00617d
*color14:    #43bfe0
! White
*color7:     #c2b9a1
*color15:    #f2e8c9

! Scrollwheel support
URxvt.perl-ext-common:  vtwheel
URxvt.internalBorder: 26

! Transparency
URxvt.depth: 32
URxvt*background: [95]#1B1D1E

URxvt*foreground: #FFFFFF

! improve letterspacing
URxvt.letterSpace: -1

! Font
URxvt*font: xft:Droid Sans Mono:size=10

! Disable scrollbar
URxvt*scrollBar: false

! Neo combability
URxvt.keysym.KP_Add:    +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide  : /
URxvt.keysym.KP_Decimal : .
URxvt.keysym.KP_Separator : ,
URxvt.keysym.KP_1:      1
URxvt.keysym.KP_2:      2
URxvt.keysym.KP_3:      3
URxvt.keysym.KP_4:      4
URxvt.keysym.KP_5:      5
URxvt.keysym.KP_6:      6
URxvt.keysym.KP_7:      7
URxvt.keysym.KP_8:      8
URxvt.keysym.KP_9:      9
URxvt.keysym.KP_0:      0
