snippet eq
	\begin{equation}
		${1}
	\end{equation}
snippet fig
	\begin{figure}
		\centering
		\includegraphics{img/${1:figname}}
		\caption{${2:caption}}
		\label{fig:$1}
	\end{figure}
snippet begin
	\begin{${1:environment}}
		${2}
	\end{$1}
